<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <title>Component | Sticky</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
</head>
<body>

<div id="container">

<div class="l-header">
  <header>
    <h1 class="logo">Sticky</h1>
    <!-- <div class="">
      <nav>
        <ul class="">
          <li></li>
        </ul>
      </nav>
    </div> -->
  </header>
</div>

<main role="main">
  <div class=""></div>
</main>

</div>

</body>
</html>