@import url("//fonts.googleapis.com/css?family=Noto+Sans");

@import url("//fonts.googleapis.com/css?family=Montserrat:400,700,900");

html {
  font-size: 10px;
}

html body {
  font-size: 1.4rem;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

#container {
  display: block;
  overflow: hidden;
  width: 100%;
  min-width: 1120px;
}

#container.top {
  position: relative;
  min-width: 320px;
  height: 100%;
  min-height: 100vh;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition-duration: 0.3s;
}

#container.top::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.wrap {
  margin: 0 auto;
}

#board-area {
  position: relative;
  height: calc(100% - 93px);
  min-height: calc(100vh - 93px);
}

.l-header {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 100%;
  padding: 30px 20px;
  border-bottom: 1px solid #dedede;
  background-color: #fff;
}

.logo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  height: 20px;
  margin: auto 0;
  font-family: "Montserrat", "Noto Sans", sans-serif;
  font-size: 2.0rem;
  font-weight: 900;
  color: #363636;
}

.logo a {
  text-decoration: none;
  color: #000;
  transition-duration: 0.3s;
}

.board-title,.board-title input[type=text] {
  text-align: center;
  font-family: "Montserrat", "Noto Sans", sans-serif;
  font-size: 2.6rem;
  font-weight: 900;
}

.board-title input[type=text] {
  max-width: 20em;
  padding: 0;
  border: none;
}

.board-title .edit {
  margin-left: 5px;
  vertical-align: middle;
  font-size: 1.1rem;
  font-weight: normal;
  color: #b9b9b9;
  cursor: pointer;
}

.people {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  height: 20px;
  margin: auto 0;
  text-align: right;
  font-family: "Montserrat", "Noto Sans", sans-serif;
  font-weight: bold;
}

.people label {
  display: inline-block;
  margin-right: 0.5em;
  font-size: 1.4rem;
  color: #e9e9e9;
}

.people span {
  display: inline-block;
  font-size: 1.8rem;
}

.url-copy-button {
  position: absolute;
  z-index: 30;
  top: 0;
  right: 20px;
  bottom: 0;
  height: 40px;
  padding: 0 50px;
  margin: auto 0;
  font-family: "Montserrat", "Noto Sans", sans-serif;
  color: #fff;
  font-weight: bold;
  background-color: #33e053;
  border-radius: 20px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.url-copy-complete {
  box-sizing: border-box;
  position: absolute;
  z-index: 40;
  top: 80px;
  right: 20px;
  display: block;
  width: 200px;
  padding: 15px 20px;
  text-align: center;
  color: #9c9c9c;
  font-weight: bold;
  background-color: #dcdcdc;
  opacity: 0;
}

.url-copy-complete.active {
  -webkit-animation: anime1 4s ease;
  animation: anime1 4s ease;
}

.sticky-add {
  position: fixed;
  z-index: 20;
  right: 0;
  bottom: 25px;
  left: 0;
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.sticky-add:hover .balloon {
  opacity: 1;
  pointer-events: auto;
}

.sticky-add .balloon {
  box-sizing: border-box;
  top: inherit;
  right: -175px;
  bottom: calc(100% + 7px);
  left: -175px;
  max-width: 350px;
  padding: 23px 60px;
  margin: 0 auto;
  border-radius: 35px;
}

.sticky-add .balloon::after {
  top: calc(100% - 15px);
  right: 0;
  bottom: inherit;
  left: 0;
  margin: 0 auto;
  -webkit-transform: scaleX(0.75) rotate(135deg);
  transform: scaleX(0.75) rotate(135deg);
}

.sticky-add .color {
  vertical-align: middle;
}

.sticky-add .color > li {
  margin-left: 10px;
}

.sticky-add .color-item {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 0;
}

.sticky-add .color-item::before,.sticky-add .color-item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: auto;
  background-color: #000;
  opacity: 0;
}

.sticky-add .color-item::before {
  width: 1px;
  height: 11px;
}

.sticky-add .color-item::after {
  width: 11px;
  height: 1px;
}

.sticky-add .color-item:hover {
  border-color: #000;
}

.sticky-add .color-item:hover::before,.sticky-add .color-item:hover::after {
  opacity: 1;
}

#sticky-add {
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

#sticky-add .add-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 40px;
  margin: auto;
  fill: #fff;
  stroke: #fff;
}

#sticky-add .add-button path {
  fill: #fff;
  stroke: #fff;
}

.sticky {
  position: absolute;
  box-sizing: border-box;
  display: inline-block;
  width: 180px;
  height: 180px;
  padding: 15px 20px;
  padding-right: 13px;
  border: 4px solid transparent;
  margin: 20px;
  font-family: "Montserrat", "Noto Sans", sans-serif;
  line-height: 1.8;
  font-size: 1.2rem;
  color: #363636;
  cursor: move;
  transition: 0.3s;
}

.sticky.right-end .balloon {
  left: -90px;
}

.sticky.right-end .balloon::after {
  left: 165px;
}

.sticky textarea {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: 0.05em;
  background-color: transparent;
  resize: none;
  outline: none;
  cursor: move;
}

.sticky textarea::-webkit-scrollbar {
  width: 5px;
  opacity: 0.7;
}

.sticky textarea::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

.sticky textarea::-webkit-scrollbar-thumb {
  background-color: rgba(187, 187, 187, 0.7);
  border-radius: 5px;
}

.sticky.color1 {
  background-color: #ade4f3;
}

.sticky.color2 {
  background-color: #cae69a;
}

.sticky.color3 {
  background-color: #fff087;
}

.sticky.color4 {
  background-color: #ffbf78;
}

.sticky.color5 {
  background-color: #fdb1d2;
}

.sticky .nice {
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 0.75;
  font-family: "Montserrat", "Noto Sans", sans-serif;
  font-size: 10.0rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  pointer-events: none;
}

.sticky.active {
  border-color: rgba(0, 0, 0, 0.2);
  cursor: auto;
}

.sticky.active textarea {
  cursor: text;
  pointer-events: auto;
}

.sticky.active .balloon {
  opacity: 1;
  pointer-events: auto;
}

.balloon {
  position: absolute;
  z-index: 20;
  top: calc(100% + 12px);
  left: -20px;
  display: block;
  min-width: 235px;
  padding: 12px 25px;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition-duration: 0.3s;
  opacity: 0;
  pointer-events: none;
}

.balloon::after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: calc(100% - 15px);
  left: 95px;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px;
  border-top-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-right-color: #fff;
  box-shadow: 3px -3px 2px rgba(0, 0, 0, 0.03);
  -webkit-transform: scaleX(0.75) rotate(-45deg);
  transform: scaleX(0.75) rotate(-45deg);
}

.balloon .label {
  margin-right: 20px;
  font-size: 1.4rem;
  color: #b9b9b9;
}

.balloon-item {
  display: inline-block;
  line-height: 1.0;
}

.balloon-item::before {
  content: "";
  display: inline-block;
  height: 16px;
  padding-left: 12px;
  border-left: 2px solid #dedede;
  margin-left: 12px;
}

.balloon-item:first-child {
  padding-left: 0;
}

.balloon-item:first-child::before {
  content: none;
}

.action button {
  display: inline-block;
  vertical-align: bottom;
  transition-duration: 0.3s;
}

.action button:hover {
  opacity: 0.7;
}

.action img {
  vertical-align: bottom;
}

.action > span {
  display: inline-block;
  line-height: 1.0;
  font-family: "Montserrat", "Noto Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
}

.action > span::before {
  content: ":";
  margin: 0 7px 0 5px;
  vertical-align: bottom;
  line-height: 1.4;
  font-size: 1.2rem;
}

.color {
  display: inline-block;
}

.color > li {
  float: left;
  margin-left: 5px;
}

.color > li:first-child {
  margin-left: 0;
}

.color-item {
  box-sizing: border-box;
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid transparent;
  border-radius: 50%;
  transition-duration: 0.3s;
}

.color-item:hover {
  border-color: rgba(0, 0, 0, 0.2);
}

.color-item.active {
  border-color: #000;
}

.color-item.color1 {
  background-color: #ade4f3;
}

.color-item.color2 {
  background-color: #cae69a;
}

.color-item.color3 {
  background-color: #fff087;
}

.color-item.color4 {
  background-color: #ffbf78;
}

.color-item.color5 {
  background-color: #fdb1d2;
}

.delete {
  transition-duration: 0.3s;
}

.delete:hover {
  opacity: 0.7;
}

.delete-button {
  width: 18px;
  vertical-align: text-bottom;
}

@media screen and (min-width: 641px) {
  .logo a:hover {
    opacity: 0.6;
  }

  .url-copy-button:hover {
    opacity: 0.7;
  }

  .sticky-add .color-item::before,.sticky-add .color-item::after {
    transition-duration: 0.3s;
  }

  #sticky-add {
    transition-duration: 0.3s;
  }

  #sticky-add:hover {
    opacity: 0.7;
  }
}

@media screen and (max-width: 640px) {
  #container {
    min-width: 320px;
  }

  #board-area {
    box-sizing: border-box;
    overflow-x: scroll;
    height: calc(100% - 63px);
    min-height: calc(100vh - 63px);
    padding-bottom: 40px;
    margin-top: 63px;
  }

  .l-header {
    height: 63px;
    padding: 20px 15px;
  }

  .logo {
    left: 20px;
    height: 18px;
    font-size: 1.8rem;
  }

  .board-title {
    display: none;
  }

  .board-title,.board-title input[type=text] {
    font-size: 1.8rem;
  }

  .url-copy-button {
    right: 15px;
    width: 40px;
    padding: 0;
    font-size: 0;
    background-image: url(../images/icon-link.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px auto;
    fill: #fff;
  }

  .url-copy-complete {
    top: 65px;
    width: 150px;
    padding: 15px 10px;
  }

  .sticky-add {
    bottom: 15px;
    width: 60px;
    height: 60px;
  }

  .sticky-add .balloon {
    max-width: 280px;
    padding: 23px 30px;
  }

  #sticky-add .add-button {
    width: 20px;
  }

  .balloon {
    min-width: 240px;
    padding: 12px 20px;
  }
}

@-webkit-keyframes anime1 {
  0% {
    right: -200px;
    opacity: 0;
  }

  10% {
    right: 20px;
    opacity: 1;
  }

  55% {
    right: 20px;
    opacity: 1;
  }

  100% {
    right: -200px;
    opacity: 0;
  }
}

@keyframes anime1 {
  0% {
    right: -200px;
    opacity: 0;
  }

  10% {
    right: 20px;
    opacity: 1;
  }

  55% {
    right: 20px;
    opacity: 1;
  }

  100% {
    right: -200px;
    opacity: 0;
  }
}
