@charset "UTF-8";

// ***********************************************
//  Base
// ***********************************************
html {
  font-size: 10px;

  body {
    font-size: 1.4rem;
  }
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

// xxx
// =====================================
#container {
  width: 100%;
  min-width: $pc-min-width;

  &.top {
    position: relative;
    min-width: $sp-min-width;
    height: 100%;
    min-height: 100vh;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition-duration: $duration;

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      margin: auto;
      background-color: rgba(#000, 0.5);
      pointer-events: none;
    }
  }
}

.wrap {
  margin: 0 auto;
}
