@charset "UTF-8";

// ***********************************************
//  Box
// ***********************************************

// /
// =====================================
.sticky {
  position: absolute;
  box-sizing: border-box;
  display: inline-block;
  width: 200px;
  height: 150px;
  padding: 15px;
  padding-bottom: 25px;
  margin: 5px;
  font-family: $ff-sans-serif;
  line-height: 1.7;
  color: $color-text-black;
  box-shadow: 0 0 5px rgba(#000, 0.2);

  textarea {
    width: 100%;
    height: 100%;
    border: none;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: 0.05em;
    background-color: transparent;
    resize: none;
    outline: none;
  }

  @for $i from 1 through 4 {
    &.color#{$i} {
      background-color: nth($color-brand-deep, $i);
    }
  }
}

.action {
  position: absolute;
  bottom: -15px;
  left: 10px;

  >li {
    float: left;
    width: 30px;
    height: 30px;
    margin-left: 5px;

    &:first-child { margin-left: 0; }
  }

  &-icon {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: $color-text-black;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(#000, 0.2);
    transition: 0.3s;

    &:hover {
      background-color: lighten($color-brand-sub, 15%);
      // transition: 0.3s;
    }

    .far {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 20px;
      height: 12px;
      margin: auto;
    }
  }
}
