@charset "UTF-8";

// ***********************************************
//  Layout
// ***********************************************

// Header
// =====================================
.l-header {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 15px 20px 20px;
  background-color: $color-brand-main;
}

.logo {
  font-family: $ff-sans-serif;
  font-size: 3.0rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.05em;

  a {
    text-decoration: none;
    color: #fff;
  }
}


// Header
// =====================================
#board-area {
  position: relative;
}
