@charset "UTF-8";

@import url('//fonts.googleapis.com/css?family=Noto+Sans');
@import url('//fonts.googleapis.com/css?family=Montserrat:400,700,900');

@import "_variables";

// Layout
// ===============================================
@import "_base";

.wrapper {
  box-sizing: border-box;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 800px;
  padding: 0 20px;
  max-height: 420px;
  margin: auto;
  text-align: center;

  @media #{$device-s} {
    max-height: 330px;
  }
}

// Header
// ===============================================
.logo {
  margin-bottom: 70px;
  font-family: $ff-sans-serif;
  font-size: 2.0rem;
  font-weight: 900;

  @media #{$device-s} {
    margin-bottom: 50px;
  }
}

// Main
// ===============================================
p {
  margin: 70px 0 80px;
  font-family: $ff-sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0.1em;

  @media #{$device-s} {
    margin: 50px 0 20px;
    font-size: 2.0rem;
  }

  small {
    display: block;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: normal;

    @media #{$device-s} {
      margin-bottom: 10px;
    }
  }
}

input[type=text] {
  display: block;
  width: 100%;
  height: 70px;
  border: none;
  text-align: center;
  font-family: $ff-sans-serif;
  font-size: 3.0rem;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  outline: none;
  letter-spacing: 0.1em;

  @include placeholderColor(#fff, 0.7);

  @media #{$device-s} {
    font-size: 1.8rem;
  }

  &:focus {
    &+.input-text {
      &::after {
        width: 100%;
      }
    }
  }
}

.input-text {
  position: relative;
  margin: 0 0 30px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 1px;
    background-color: #fff;
  }

  &::before {
    opacity: 0.5;
  }

  &::after {
    width: 0;
    transition-duration: $duration;

    @media #{$device-s} {
      transition-duration: $duration * 1.25;
    }
  }
}

button {
  display: block;
  width: 100%;
  max-width: 500px;
  border: 1px solid #fff;
  height: 60px;
  margin: 60px auto 0;
  font-size: 1.6rem;
  color: #fff;
  font-weight: bold;
  border-radius: 30px;
  transition-duration: $duration;

  @media #{$device-l} {
    &:hover {
      color: #000;
      background-color: #fff;
    }
  }
}
